body{
    
}
.creatProducts{
    width: 320px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 450px;
    top: 120px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px gray;
}
.creatProducts label{
    margin: 5px;
    font-weight: bold;
}
.creatProducts h1{
    text-align: center;
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
    color: rgb(255, 0, 247);
}
.creatProducts input{
    width: 300px;
    margin: 5px;
    height: 25px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 2px rgb(170, 1, 182);
}
.creatOK{
    width: 100px;
    margin: 5px;
    background-color: purple;
    color: white;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.Selecter{
    margin: 5px;
    padding: 5px;
    box-shadow: 0px 0px 2px rgb(170, 1, 182);
    color: red;
}