.Sum_product {
    width: 98.9%;
    display: flex;
    margin-left: 10px;
    padding-left: 20px;
    height: 85px;
    padding: 0px;
    background-color: white;
    border: 2px solid rgb(98, 47, 112);
    border-top: none;
}
.product_items {
    display: flex;
    
}
.product_item {
    width: 237px;
    text-align: center;
    border-right: 2px solid rgb(98, 47, 112);

}
.product_item > h4{
    margin-top: 40px;
    font-size: 16px;
    width: 237px;
    font-weight: normal;
}
h4 {

    font-weight: normal;
}

.menuproduct label {
    padding-right: 140px;
    margin-left: 20px;
    text-align: center;
    font-size: 14px;
}
.productimg{
    width: 130px;
    height: 80px;
    margin: 2px;
}
.menuproduct {
    background-color: rgb(98, 47, 112);
    height: 25px;
    width: 100%;
    padding-top: 10px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.items {
    position: absolute;
    right: 5px;
    top: 79px;
}
.Selecter{
    border: none;
    padding: 1px;
    width: 200px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}
.Selecter:hover{
    color: rgb(212, 0, 255);
}
.delproduct{
    
    position: absolute;
    right: 30px;
    margin-top: 30px;
    background: none ;
    border: none;
}
.creatProduct{
    text-decoration: none;
    color: purple;
    font-weight: bold;
     border: 1px solid purple;
     padding: 3px;
     border-radius: 5px;
     margin: 10px;
}
.product_item > h4{
    margin-top: 30px;
    font-size: 16px; 
}
.products{
    height: 450px;
}
.tableProduct{
    background-color: rgb(98, 47, 112);
    width: 100%;
    display: flex;
    text-align: center;
    color: white;
    margin-left: 10px;
}
.tableProduct >h4{
    margin-top: 15px;
    font-size: 16px;
    width: 237px;
    border-right: 2px solid rgb(212, 205, 205);
}
.tableProduct >h3{
    margin-top: 15px;
    font-size: 16px;
    width: 450px;
}
.SerchJob{
    width: 380px;
    height: 25px;
    border-radius: 5px;
}
.delproduct{
    margin-top: 13px;
    border: none;
    background: none;
    background-color: rgb(255, 3, 3);
    height: 35px;
    width: 70px;
    border: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
.product_item2{
    width: 150px;
    text-align: center;
}