.product-statistics-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-statistics-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product-statistics-content {
    font-size: 1.2rem;
}

.loading-text {
    font-style: italic;
    color: #777;
}
.name_statisPD{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    display: flex;
    width: 96.5%;
    margin-left: 10px;
    background-color: gold;
    padding: 20px;
}
.number_statisPD{
    color: red;
}
.item_statis{
    text-align: center;
    width: 250px;
    background-color: white;
    margin: 0px auto;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
}
.item_statis>img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 4px solid rgb(43, 255, 0);
    padding: 2px;
}
.item_statis> h4{
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 3px;
    font-size: 30px;
}
.item_statis> h3{
    font-weight: bold;
    margin: 3px;
    color: red;
    font-size: 20px;
}
.Time_on{
    position: absolute;
    bottom: -20px;
    right: 30px;
}
.bieudo{
    width: 100%;
    height: 460px;
    background-color: white;
    margin-left: 10px;
}
.bieudo_item{
    width: 400px;
    height: 400px;
    margin-left: 30px;
    padding-left: 20px;
}
.item_bieudo{
    display: flex;
}
.radius{
    width: 650px;
    height: 450px;
    margin-left: 20px;
}